<table class="table">
    <tr>
        <td>Id</td>
        <td>Departure City</td>
        <td>Arrival City</td>
        <td>Departure Date</td>
        <td>Arrival Date</td>
        <td>Max Seats</td>
        <td>Occupied Seats</td>
    </tr>
    @foreach (var flight in Model)
    {
        <tr>
            <td>@flight.Id</td>
            <td>@flight.DepartureCity.Name</td>
            <td>@flight.ArrivalCity.Name</td>
            <td>@flight.DepartureDate</td>
            <td>@flight.ArrivalDate</td>
            <td>@flight.MaxSeats</td>
            <td>@flight.OccupiedSeats</td>
        </tr>
    }
</table>