
<form asp-action="FindFlightsByDepartureAirport" method="post" class="flightSearchingForm">
    <label>Departure airport</label>
    @Html.TextBox("departureAirport", "", new { @class = "input-label" })
    @*<input class="input-label" type="text" name="departureAirport"/>*@
    <input type="submit" value="Search"/>
</form>

<form asp-action="FindFlightsByArrivalAirport" method="post" class="flightSearchingForm">
    <label>Arrival airport</label>
    @Html.TextBox("arrivalAirport", "", new { @class = "input-label" })
    @*<input class="input-label" type="text" name="arrivalAirport" />*@
    <input type="submit" value="Search" />
</form>

<form asp-action="FindFlightsByDepartureDate" method="post" class="flightSearchingForm">
    <label>From Departure Date</label>
    <input class="input-label" type="date" name="departureDate" />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Departure Airport</td>
        <td>Arrival Airport</td>
        <td>Departure Date</td>
        <td>Arrival Date</td>
    </tr>

    @foreach (var flight in Model)
    {
        <tr>
            <td>@flight.Id</td>
            <td>@flight.DepartureAirport.Name</td>
            <td>@flight.ArrivalAirport.Name</td>
            <td>@flight.DepartureDate</td>
            <td>@flight.ArrivalDate</td>
        </tr>
    }
</table>