<div class="bg-image">
</div>
<div class="shadowBox">
    <div class="container-fluid">
        <div class="text-center">
            <div class="box1">
                <div class="redirectButtonToAddElementDiv">
                    <a href="addPlane/addPlane">
                        <button class="redirectButtonToAddElement">
                            Add New Plane
                        </button>
                    </a>
                </div>

                <table class="table text-white">
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Seats</td>
                        <td>CrewRequired</td>
                        <td>Delete</td>
                    </tr>

                    @foreach (var plane in Model)
                    {
                        <tr>
                            <td>@plane.Id</td>
                            <td>@plane.Name</td>
                            <td>@plane.Seats</td>
                            <td>@plane.Crew</td>
                            <td>
                                <a class="btn btn-danger" asp-controller="PlaneManagement" asp-action="deletePlane"
                                   asp-route-id="@plane.Id">🗑️</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>